

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */






<!DOCTYPE html>



<style>

#recipe-title h1 a {
 font-family:'Brush Script MT', cursive;
 font-size:10px;
 }
 
 </style>


<style>

.recipe h1 a {
 font-family:Georgia;
 font-size:10px;
 }
 
 </style>
 
 




<html>
  <head>	
	
	<title>yum!</title>
  </head>
  <body>
	  <header id='recipe-title'>
	  <h1>>Wild Arugala Salad
	  </h1>
  </header>
	  <p><. id='title'>
		  with garlic croutons, shaved parmesan, and lemon
	  </p>
	  <p>
		  makes 6 servings
	  </p>
	  <h4>
		  INGREDIENTS
	  </h4>
	  <p>
		  <ul>
			  <li>1   8-oz piece ciabatta with crust (preferably day-old)
		      <li>1   large garlic clove, peeled
		      <li>¼   c + 3 tbsp extra-virgin olive oil
		      <li>6   oz arugula (about 10 cups packed)
		      <li>2   tbsp (or more) fresh lemon juice
		      <li>3   oz Parmesan cheese, shaved into strips
			  </ul>
		  </p>
		  <h4>
			  PREPARATION
		  </h4>
		  <p>
			  <ul>
				  <li>Preheat oven to 400°F. Rub crust of bread with garlic clove. Tear bread into 1-inch pieces and place in large bowl; toss with ¼ cup olive oil. Sprinkle bread lightly with salt; arrange in single layer on rimmed baking sheet. Bake until golden and crisp around edges, about 10 min. Cool.
				   <li>Place arugula in large bowl. Drizzle with 3 tbsp olive oil and 2 tbsp lemon juice, adding more lemon juice, if desired. Sprinkle with salt and pepper. Add 2⁄3 of croutons and half of Parmesan cheese and toss.
				    <li>Transfer to serving bowl; scatter remaining croutons and Parmesan cheese over and serve.
			   </ul>
		  </p>

		  
		  
		  <p><a href='/yum/card1'>Recipe Card</a></p>






  </body>
</html>


