

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------END RESET---------------- */



a {
    color: #BCDE33;
}



body {
	background-color:#E6E6E6;

}


#sidebar {
	padding-left:30px;
}

nav {
	width:250px;
	height:1091px;
	background-color:white;

}

#logo {
	padding-top:35px;
	padding-right:36px;
	padding-bottom:15px;

}

  h1 {
    font-family: 'Open Sans', sans-serif;
	color:#D2D2D2;
 	font-size: 11.5px;
 	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.3em;
	padding-top:30px;
	padding-bottom:10px;
  }
  
p {
    font-family: 'Open Sans', sans-serif;
	font-size:10px;
	color:#1C1C1C;
	line-height:180%;
	letter-spacing:.035em;
	width:190px;
	padding-bottom:6px;

}


#socialmedia {
	padding-top:20px;
	padding-left:7%;
	position:relative;
	top:25px;
	left:12px;

}

#facebook {
	padding-right:10px;

}


#instagram {
	padding-right:20px;

}


#behance {
	padding-right:10px;

}


img:hover {
	opacity:0.25;

}

#facebook:hover {
	opacity:0.25;
	

}

#instagram:hover {
	opacity:0.25;
	

}

#behance:hover {
	opacity:0.25;
	

}

#portfolio{
	top:5px;
	position:absolute;
	left:320px;
	right:20px;
}


#lettering {
	padding:3px;
}



footer {
    font-family: 'Open Sans', sans-serif;
	font-size:10px;
	color:lightgray;
	font-size:10px;
	position:relative;
	top:430px;
}



  
  

  
 