

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








h1 {
	font-family:Helvetica;
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	padding-bottom:10px;
	color:#7F5217;
	padding-top:40px;
}

h2 {
	font-family:Helvetica;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#7F5217;
	padding-bottom:8px;
}

h3 {
	font-family:Helvetica;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#C19A6B;
	padding-bottom:8px;
}

nav li {
	float:left;
	margin:20px;
}

#main-menu {
	margin-top:40px;
	height:55px;
	font-weight:bold;
	background-color:#7F5217;
	text-transform:uppercase;
	font-family:Helvetica;
	font-size:11px;
}

p {
	font-family:Helvetica;
	font-size:11px;
	padding-bottom:14px;
}





#content-wrapper {
	width:600px;
}

#sidebar {
	font-family:Helvetica;
	font-size:11px;
	text-color:#7F5217;
	position:relative;
	left:600px;
	width:300px;
}


li {
	padding-bottom:8px;
}

#top-nav {
	font-family:Helvetica;
	font-size:11px;
	position:absolute;
	right:250px;
	top:0px;
}

#site-wrapper {
	background-color:#F5F5CC;
}

#page {
	padding-left:100px;
	padding-right:100px;
	position:relative;
	top:70px;
}


#sidebar a {
	color:#7F5217;
	text-decoration:none
}


#main-menu a {
	color:white;
	text-decoration:none;
	position:relative;
	left:80px;
}

#menu-wrapper {
	position:absolute;
	top:80px;
	width:1000px;
}

#top-nav a {
	color:#7F5217;
	text-decoration:none;
}

#footer-contact p {
	color:white;
	width:120px;
	margin-left:200px;
}


#site-footer {
	background-color:#7F5217;
	padding-left:100px;
	padding-right:100px;
	padding-top:10px;
}


#site-header {
	padding-left:100px;
	padding-right:100px;
}


#footer-follow {
	margin-left:500px;
	position:absolute;
	top:975px;
}


#footer-wrapper {
clear:both;
}